apiVersion: v1
kind: Service
metadata:
  name: service-b
  labels:
    app: service-b
spec:
  selector:
    app: service-b
  ports:
  - port: 8001
    targetPort: 8001
    protocol: TCP
    name: http
  type: NodePort  # Expose this service outside the cluster